<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/foto-paling-ganteng.jpeg" class="img-thumbnail rounded-circle" width="250px" alt="Thomas">
            <h1 class="display-4">Thomas Setiawan</h1>
            <p class="lead">Murid | Junior Programmer</p>
        </div>
    </div>
</div>